body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    overflow: auto;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
.one{
    overflow:auto;
    max-height: 1000vh;
}
